@use "../utils/variables" as vars;

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: vars.$primary800;
  border-bottom: 6px solid vars.$primary500;
  padding: 1rem;

  &__logo-image {
    height: 3rem;
    width: auto;
  }

  &__list {
    display: flex;
    gap: 2rem;
    align-items: center;
  }

  &__link {
    display: flex;
    align-items: center;
  }

  &__icon {
    height: 30px;
    width: 30px;
  }
}
